*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* (1) */
	height: 100%; /* (2) */
	width: 100%; /* (2) */
	overflow-y: scroll; /* (3) */
}

body {
	box-sizing: border-box; /* (1) */
	margin: 0; /* (2) */
	font-size: 1.6rem; /* (4) */
	font-family: sans-serif; /* (5) */
	color: #333; /* (6) */
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input {
	line-height: 2.7rem;
	font-size: 1.5rem;
	border: 1px solid lightgray;
	border-radius: .3rem;
	width: 100%;
}