*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	height: 100%;
	width: 100%;
}

body {
	box-sizing: border-box;
	margin: 0;
	font-size: 1.6rem;
	font-family: sans-serif;
	color: #333;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input {
	line-height: 2.7rem;
	font-size: 1.5rem;
	border: 1px solid lightgray;
	border-radius: .3rem;
	width: 100%;
}